*.aux
*.log
*.lot
*.lof
*.gz
*.toc
*.out
*~
*.swp
*.swo
*.bbl
*.blg
CAD
instron tests
output
photos
posters
videos
library
papers/semester1-paper/pj-senior-project-semester1-report.pdf
papers/semester2-final-report/pj-senior-project-semester2-report.pdf
papers/semester2-asme-paper-header/pj-asme-cfrp.pdf
